

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" routerLink="/home">NBPS</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a routerLink="/about">About Us</a></li>
              <li><a routerLink="/history">Vision</a></li>
              <li><a routerLink="/contact">Reach Us</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">MORE
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a routerLink="/alumni-speak">Alumni Speak</a></li>
                  <li><a routerLink="/syllabus">Syllabus</a></li>
                  <li><a routerLink="/ds">Media</a></li> 
                </ul>
              </li>
              <!-- <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li> -->
            </ul>
          </div>
        </div>
      </nav>
    
<router-outlet></router-outlet>
    <footer class="container-fluid text-center">
      <a href="#myPage" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
      </a>
      <p>&copy;NBPS, Dhanbad, Jharkhanad 828130</p>
    </footer>
    



