<div id="services" class="container-fluid text-center">
    <h2>ABOUT US</h2>
    <h4>Who We Are?</h4>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-user logo-small"></span>
        <h4>BUILD</h4>
        <p>Future masterminds.</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-heart logo-small"></span>
        <h4>INCORPORATE</h4>
        <p>Values to help in races of life.</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-picture logo-small"></span>
        <h4>Giving Back</h4>
        <p>Responsible citizens to the society.</p>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-sm-12 text-center">
        <span class="glyphicon glyphicon-education logo-small"></span>
        <h4>OVERALL DEVELOPMENT</h4>
        <p>Academic and non-academic prowess.</p>
      </div>
      <!-- <div class="col-sm-4">
        <span class="glyphicon glyphicon-certificate logo-small"></span>
        <h4>CERTIFIED</h4>
        <p>Lorem ipsum dolor sit amet..</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-wrench logo-small"></span>
        <h4 style="color:#303030;">HARD WORK</h4>
        <p>Lorem ipsum dolor sit amet..</p>
      </div> -->
    </div>
  </div>